html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.cards {
    height: 47vh;
    /*margin-left: auto;*/
    border-radius: 16px 16px 16px 16px;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.25);
    background-color:#D3D3D3;
    box-sizing: border-box;
}

.row {
    /*margin: 1%;*/
}

.avatar {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
div p {
    margin-top: 2%;
    /*background-color:#C0C0C0;*/
    display: block;
    padding: 2%;
    width: 70%;
    text-align: center ;
}