#formCadastro {
    position: relative;
    width: 40%;
    margin-left: 1%;
}

.text {
    width: 50%;
}

#nomecompleto {
    width: 50%;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.matricula {
    margin-left: 5%;
}

.outro {
    width: 350px;
    height: 60px;
}