* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
#registro {
    font-size: 18px;
    
    height: 22px;
    width: 126px;
    left: 0px;
    top: 13px;
    border-radius: 5px;
    color: white;
    border: 1px solid #4450E4;
    background-color: #4450E4;
    font-weight: 700;
    text-align: center;
    margin: auto;
    padding: 13px;
}
#login {
    font-size: 18px;
    
    height: 22px;
    width: 126px;
    
    border-radius: 5px;
    color: #4450E4;
    border: 1px solid #4450E4;
    background-color: white;
    font-weight: 700;
    text-align: center;
    margin: auto;
    padding: 13px;
    margin-right: 41px;
}
body {
    font-family: sans-serif;
}

nav {
    height: 90px;
    background-color: cadetblue;
    width: 100%;
}

.logo {
    line-height: 90px;
    padding: 0 85px;
    border: 1px dotted;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    
}

a.active,a:hover {
    background: #1b9bff;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: black;
    float: left;
    line-height: 80px;
    margin-right: 40px;
    margin-left: 20px;
    display: none;
}
.mobilelogo{
    
    float: right;
    border: 1px dotted;
    margin-right: 20px;
    margin-top: 20px;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 952px) {
    .logo{
        width: 301px;
        height: 88px;
    }
    nav ul li a{
        font-size: 16px;

    }
}

@media (max-width: 858px) {
    .logo {
        display: none;
    }
    .checkbtn{
        display: block;
    }
    .mobilelogo{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background:none;
        color: #0082e6;

    }
    #check:checked ~ ul{
        left: 0;
    }
}